<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Класи в Terraria</title>
  <link rel="stylesheet" href="/static/styles2.css">
</head>
<body>
  <div class="site-title"><a href="/">Terraria Класовий Кодекс</a></div>

  <div class="container">
    <div class="template">
      <h2>Початковий етап</h2>
      <details>
        <summary>Зброя</summary>
        <div class="inner-content">
          <p>Дерев'яний меч, Копійцева паличка, Магічна іскра...</p>
        </div>
      </details>
      <details>
        <summary>Броня</summary>
        <div class="inner-content">
          <p>Дерев'яна броня, Броня зтіней...</p>
        </div>
      </details>
      <details>
        <summary>Аксесуари</summary>
        <div class="inner-content">
          <p>Швидкі черевики, Знаки втечі, Магнітні кристали...</p>
        </div>
      </details>
    </div>

    <div class="template">
      <h2>Хардмод</h2>
      <details>
        <summary>Зброя</summary>
        <div class="inner-content">
          <p>Меч нічного краю, Магічний гарпун...</p>
        </div>
      </details>
      <details>
        <summary>Броня</summary>
        <div class="inner-content">
          <p>Адамантитова, Титанова броня...</p>
        </div>
      </details>
      <details>
        <summary>Аксесуари</summary>
        <div class="inner-content">
          <p>Сонячний камінь, Сили Міміка...</p>
        </div>
      </details>
    </div>

    <div class="template">
      <h2>Кінець гри</h2>
      <details>
        <summary>Зброя</summary>
        <div class="inner-content">
          <p>Терра меч, Місячний лук, Остання призма...</p>
        </div>
      </details>
      <details>
        <summary>Броня</summary>
        <div class="inner-content">
          <p>Небесна броня, Сетові костюми кінця гри...</p>
        </div>
      </details>
      <details>
        <summary>Аксесуари</summary>
        <div class="inner-content">
          <p>Шар мани, Об’єднані аксесуари Місячного Повелителя...</p>
        </div>
      </details>
    </div>
  </div>
</body>
</html>
