<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Terraria Класовий Кодекс</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Terraria Класовий Кодекс</h1>
    <div class = "limited-text">
    <p>Ласкаво просимо до "Terraria Класовий Кодекс" — твого надійного провідника у світі бойових класів!
        Дізнайся, як ефективно грати за Воїна, Мага, Стрільця чи Призивника.
        Отримай поради щодо екіпірування, стратегії бою та побудови ідеального персонажа на кожному етапі гри — від перших днів у Pre-Hardmode до найжорсткіших босів у Endgame.
        
        Будь-який стиль гри — твоя стихія, якщо маєш правильний гайд. 🎮⚔️
        </p>
    </div>

    <div class = "a">
        <p><a href="/melee">melee</a></p>
        <p><a href="/summoner">summoner</a></p>
        <p><a href="/ranger">ranger</a></p>
        <p><a href="/magic">magic</a></p>
    </div>
</body>
</html>